<!DOCTYPE html>
<html>
   <head>
      <title>HTML redirect to php</title>
      <meta http-equiv = "refresh" content = "0; url = http://{{ inventory_hostname }}/index.php" />
   </head>
   <body>
      <p>Redirecting to php!</p>
   </body>
</html>